<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">{{ name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/">Блоги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts/">Контакты</a>
                </li>
            </ul>
        </div>
    </nav>


<div class = "container">
    <div class = "row">
        <div class = "col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="../static/image/1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                          <p class="card-text">Анна Васильена</p>
                         <p class="card-text">e-mail: kudato@mail.ru</p>
                         <p class="card-text">дата рождения: 01.01.1981</p>
                         <p class="card-text">город: Воронеж</p>
                    </div>
            </div>
        </div>
        <div class = "col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="../static/image/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                          <p class="card-text">Виктория Ивановна</p>
                         <p class="card-text">e-mail: s_kem_to@mail.ru</p>
                         <p class="card-text">дата рождения: 01.01.1981</p>
                         <p class="card-text">город: Саратов</p>
                    </div>
            </div>
        </div>

        <div class = "col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="../static/image/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                          <p class="card-text">Юлия Викторовна</p>
                         <p class="card-text">e-mail: gdeto@mail.ru</p>
                         <p class="card-text">дата рождения: 03.03.1983</p>
                         <p class="card-text">город: Кимры</p>
                    </div>
            </div>
        </div>
    </div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>